SQL_PROVIDER="AZURE_SQL_CONNECTION_STRING"
AZURE_SQL_CONNECTION_STRING="<Insert your DSN here>"
POSTGRESQL_CONNECTION_STRING="<Insert your DSN here>"
MYSQL_CONNECTION_STRING="<Inert your DSN here>"
NS_HASH="DECAFBAD-CAFE-FADE-BABE-C0FFEE420DAB"
